{% extends "Summer/template/base.html" %}

{% block content %}

  <div class="container">
    <br>
    <blockquote>
      連續七天的暑訓中，我們將帶給學員豐富的資訊知識與充滿趣味的活動：
    </blockquote>
    <table class="centered reponsive-table">
      <thead>
        <tr>
          <th>7月11日</th>
          <th>7月12日</th>
          <th>7月13日</th>
          <th>7月14日</th>
          <th>7月15日</th>
          <th>7月16日</th>
          <th>7月17日</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>入訓儀式</th>
          <th>程式語言</th>
          <th>RPG製作</th>
          <th>網頁前端</th>
          <th>網站後台</th>
          <th>遊戲製作</th>
          <th>成果發表</th>
        </tr>
        <tr>
          <th>美宣軟體</th>
          <th>APP製作</th>
          <th>大地遊戲</th>
          <th>電繪教學</th>
          <th>戶外遊戲</th>
          <th>jQuery</th>
          <th>神秘活動</th>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <img class="responsive-img cb" src="Summer/image/lecture.jpg">

{% endblock %}
