{% extends "Summer/template/base.html" %}

{% block content %}

  <br>
  <div class="container">
    <h6>
      連續七天的暑訓中，我們將帶給學員豐富的資訊知識與充滿趣味的活動：
    </h6>
  </div>
  <div class="row center-align">
    <ul class="col s1 offset-s2">
      <li class="valign-wrapper valign flow-text teal lime lighten-5 il">7月11日</li>
      <hr>
      <li class="valign-wrapper valign flow-text teal lime lighten-5 il">入訓儀式</li>
      <hr>
      <li class="valign-wrapper valign flow-text teal lime lighten-5 il">美宣軟體</li>
    </ul>
    <ul class="col s1">
      <li class="valign-wrapper valign flow-text teal lime lighten-5 il">7月12日</li>
      <hr>
      <li class="valign-wrapper valign flow-text teal lime lighten-5 il">程式語言</li>
      <hr>
      <li class="valign-wrapper valign flow-text teal lime lighten-5 il">APP製作</li>
    </ul>
    <ul class="col s1">
      <li class="valign-wrapper valign flow-text teal lime lighten-5 il">7月13日</li>
      <hr>
      <li class="valign-wrapper valign flow-text teal lime lighten-5 il">RPG製作</li>
      <hr>
      <li class="valign-wrapper valign flow-text teal lime lighten-5 il">大地遊戲</li>
    </ul>
    <ul class="col s1">
      <li class="valign-wrapper valign flow-text teal lime lighten-5 il">7月14日</li>
      <hr>
      <li class="valign-wrapper valign flow-text teal lime lighten-5 il">網頁前端</li>
      <hr>
      <li class="valign-wrapper valign flow-text teal lime lighten-5 il">電繪教學</li>
    </ul>
    <ul class="col s1">
      <li class="valign-wrapper valign flow-text teal lime lighten-5 il">7月15日</li>
      <hr>
      <li class="valign-wrapper valign flow-text teal lime lighten-5 il">網站後台</li>
      <hr>
      <li class="valign-wrapper valign flow-text teal lime lighten-5 il">戶外遊戲</li>
    </ul>
    <ul class="col s1">
      <li class="valign-wrapper valign flow-text teal lime lighten-5 il">7月16日</li>
      <hr>
      <li class="valign-wrapper valign flow-text teal lime lighten-5 il">遊戲製作</li>
      <hr>
      <li class="valign-wrapper valign flow-text teal lime lighten-5 il">繪圖軟體</li>
    </ul>
    <ul class="col s1">
      <li class="valign-wrapper valign flow-text teal lime lighten-5 il">7月17日</li>
      <hr>
      <li class="valign-wrapper valign flow-text teal lime lighten-5 il">成果發表</li>
      <hr>
      <li class="valign-wrapper valign flow-text teal lime lighten-5 il">神秘活動</li>
    </ul>
  </div>

{% endblock %}
