{% extends "Summer/template/base.html" %}

{% block content %}

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br><br><br>
        <h1 class="header center teal-text text-lighten-2">楓琴建譜</h1>
        <div class="row center">
          <h5 class="header col s12 light">一連串精采可期的暑訓活動</h5>
        </div>
        <div class="row center">
          <a href="/signup" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">馬上報名</a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="Summer/image/old3.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="mdi-image-flash-on"></i></h2>
            <h5 class="center">知識</h5>
            <p class="light">本次的暑訓將以資訊為主軸，市面上最流行的APP、精緻的電子繪圖以及專業的遊戲製作，都將是我們的教學內容！
            </p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="mdi-action-question-answer"></i></h2>
            <h5 class="center">交流</h5>
            <p class="light">學習不必是自己埋首苦練，暑訓中學員將一起討論、共同成長，同時在這個過程中，認識新朋友並得到堅固的友誼。</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="mdi-maps-place"></i></h2>
            <h5 class="center">活動</h5>
            <p class="light">暑假想要擁有一些娛樂？我們的暑訓會帶給你有趣的遊戲，還有精彩無比的神秘活動，等待你的盡情參與~~~</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">同時享有豐富的知識與盡興的娛樂</h5>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="Summer/image/old1.jpg" alt="Unsplashed background img 2">
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-action-assignment-turned-in"></i></h3>
          <h4>加入我們</h4>
          <p class="left-align light">抓住這次機會，一起參加每個國中生都不能錯過的"楓琴建譜"建楓暑訓。讓你的暑假充滿歡樂的時光與難忘的回憶吧！</p>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">還在等什麼？趕緊點選上方選單中的報名辦法</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="Summer/image/old2.jpg" alt="Unsplashed background img 3"></div>
  </div>

{% endblock %}
