{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="row s12">
		<h1 class="center brown-text">最新消息</h1>
	</div>	
  <div class="row">
    <ul class="collapsible popout" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>(5/13)&nbsp;請大家注意報名開放時間</div>
          <div class="collapsible-body"><p>報名開放時間為5/18，請於當日後開始報名<br>報名公佈錄取名單分兩階段，詳細請參閱<a href="/note">報名方法</a><br><br>(報名資料決不外流，請安心填寫表單)</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="mdi-maps-place"></i>(5/10)新增去年活動照片</div>
          <div class="collapsible-body"><p>可在<a href="/picture">活動照片</a>看到去年的營會照片<br>大家可以透過圖片體會一下營會的歡樂氣氛</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="mdi-social-whatshot"></i>(5/9)2015楓琴建譜活動網站上線</div>
          <div class="collapsible-body"><p>2015楓琴建譜活動網站上線了<br>大家敬請期待我們所帶來的暑訓營會<br>一定要來喔！！！</p></div>
        </li>
    </ul>
  </div>
</div>
{% endblock %}