{% extends "base.html" %}

{% block content %}
  
  <br>
  <h2 style="text-align:center;">
    楓琴建譜-建楓聯合暑訓<br>
    報名須知與注意事項
  </h2>
  <br>
  <div class="container">
    <div class="container lime lighten-5 flow-text">
      <br>
      <ol>
        <li>以下是所有的注意事項</li>
        <li>以及報名方式說明</li>
      </ol>
      <br>
    </div>   
  </div>
  <br><br>
  <div class="row center">
      <a href="/signup" id="download-button" class="btn-large waves-effect waves-light-3 brown">進入報名頁面</a>
  <br><br>
  </div>  

{% endblock %}
