/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav{
  background-color: #795548;
}

nav ul a,
nav .brand-logo {
  color:white;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #795548;
}

.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

body{
  font-family: Arial,
               "文泉驛正黑", 
               "WenQuanYi Zen Hei", 
               "儷黑 Pro", 
               "LiHei Pro", 
               "微軟正黑體", 
               "Microsoft JhengHei", 
               "標楷體", 
               DFKai-SB, 
               sans-serif;
  color: #795548;
  background-color: #f0f4c3;
}

.input-field input[type=text]:focus + label {
  color: #795548;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #795548;
  box-shadow: 0 1px 0 0 #795548;
}

.input-field textarea[class=materialize-textarea]:focus + label {
  color: #795548;
}

.input-field textarea[class=materialize-textarea]:focus {
  border-bottom: 1px solid #795548;
  box-shadow: 0 1px 0 0 #795548;
}

.input-field div[class=select-wrapper]{
  color: #795548;
}

.picker__year-display{
  color: #795548;
}

.picker__date-display{
  background-color: #f0f4c3;
  color: #795548;
}

.picker__weekday-display{
  color: white;
  background-color: #795548;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
  background-color: #795548;
}

.picker__day.picker__day--today{
  color: #795548;
}

.btn-flat picker__today{
  color: #795548;
}

.btn-flat picker__close{
  color: #795548;
}

[type="radio"]:checked + label:after{
  background-color: #795548;
  border: #795548;
}

.subject-content li{
  list-style-type: circle;
}
